.container {
  border: 1px solid black;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.flex-box-rps {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15x;
}
.flex-box-rps img:hover {
  box-shadow: 0px 10px 50px rgba(37, 58, 233, 1);
  padding: 12px;
}

.chhange {
  border: 2px solid black;
  display: flex;
  margin: 0px auto;
}
